* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arima', cursive;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 50px 8%;
}

/*---- Header style ----*/

header {
    display: flex;
    background-color: rgb(51, 28, 28);
    border-radius: 30px;
    padding: 0 5%;
}

.header-description {
    width: 50%;
    color: white;
    margin-top: 40px;
}

.header-description h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
}

.header-description p {
    font-size: 16px;
    line-height: 26px;
    margin: 20px 0;
}

.header-img {
    width: 50%;
}

.header-img img {
    width: 90%;
    margin-top: 20px;
    margin-bottom: -7px;
}

.button {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    background-color: #DD0000;
    transition: all 1s ease-in;
    color: white;
}

.button i {
    margin-left: 5px;
}

.button:hover {
    width: 300px;
    background-color: #c4cc5b85;
}

/*----Main styles----*/

.content {
    display: flex;
    gap: 20px;
}

.fixed-menu {
    width: 280px;
    height: 280px;
    background-color: rgb(51, 28, 28);
    border-radius: 8px;
}

.fixed-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    list-style-type: none;
}

.fixed-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: white;
    color: #161616;
    padding: 20px;
    text-align: center;
    width: 240px;
    height: 50px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

#fixed,
.fixed-menu a:hover {
    background-color: #dd0000d7;
    color: white;
}

/* ----blog-section---- */

.blog-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.blog {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 55px 10px 30px 10px;
}

span {
    padding: 0 19px 0 19px;
    padding-top: 15px;
    font-weight: bold;
}

.blog-info {
    text-align: center;
    padding-bottom: 60px;
}

.btn {
    display: none;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    background-color: #DD0000;
    color: white;
}

.btn:hover {
    background-color: #dd000085;
}

/*---- Footer styles----*/
footer {
    background-color: #161616;
    padding: 5%;
    margin-top: 100px;
}

footer h3 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 50px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.127);
}

.footer {
    text-align: center;
    background-color: rgb(51, 28, 28);
}

.footer h3 {
    color: white;
    padding-top: 50px;
}

hr {
    margin: 20px 100px 40px 100px;
}

.footer-item {
    padding-left: 300px;
}

.footer-item ul {
    display: flex;
    list-style: none;

}

.footer ul li {
    padding-right: 30px;
}

.footer-item a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.596);
}

.footer-item ul li a:hover {
    color: rgba(255, 0, 0, 0.637);

}

.social-icon {
    padding: 20px 0 20px 0;
}

.social-icon a {
    padding: 30px;
    color: rgba(255, 255, 255, 0.664);
}

.social-icon a:hover {
    color: #DD0000;
}

/*---- Small devices ----*/
@media (max-width: 576px) {
    body {
        width: 100%;
    }

    .container {
        max-width: 576px;
        margin: 0 auto;
        margin: 20px;
    }

    header {
        padding-top: 10px;
        display: block;
    }

    .header-img {
        text-align: center;
        position: relative;
        left: 120px;
    }

    .header-description h1 {
        font-size: 23px;
        line-height: 20px;
        text-align: center;
        padding-top: 20px;
    }

    .header-description {
        width: 100%;
        color: white;
    }

    .button {
        position: relative;
        left: 120px;
    }

    .content {
        display: block;
    }

    .fixed-menu {
        background-color: white;
        width: 60%;
        padding-left: 220px;
    }

    .blog-section {
        display: block;
    }

    .fixed-menu li {
        list-style: none;
        border: 0.2px solid rgba(128, 128, 128, 0.137);
        border-radius: 5px;
    }

    .fixed-menu {
        width: 240px;
        height: 240px;
        border-radius: 8px;
    }

    .footer-item ul {
        display: block;
    }

    .footer-item {
        padding-left: 25px;
        ;
    }

    .footer-link {
        padding: 5px 0 5px 0;
    }
}

/* Medium devices */
@media (min-width: 577px) and (max-width:992px) {
    .container {
        max-width: 992px;
        margin: 10px;
        display: flex;
    }

    .header-img {
        padding-top: 100px;
        padding-left: 55px;
        position: relative;
        top: 22px;
    }

    header {
        display: block;
    }

    .header-description h1 {
        font-size: 45px;
    }

    .button {
        margin-bottom: 55px;
    }

    .fixed-menu li {
        list-style: none;
    }

    .fixed-menu ul {
        background-color: white;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .blog-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .fixed-menu {
        width: 0;
        height: 120px;
        position: relative;
        left: 350px;
    }

    .btn {
        display: block;
        margin-left: 350px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .footer-item {
        margin-left: -250px;
    }